h2 {
    cursor: pointer;
}

.modal, .modal2 {
    display: none; /* Скрыть по умолчанию */
    position: fixed; /* Открывается поверх всего */
    z-index: 1000; /* Поверх других элементов */
    left: 0;
    top: 0;
    width: 100%; /* Полная ширина */
    height: 100%; /* Полная высота */
    overflow: auto; /* Прокрутка при необходимости */
    background-color: rgba(0, 0, 0, 0.7); /* Полупрозрачный черный фон */
}

.modal-content {
    position: relative;
    top: 0;
    left: 56%;
    transform: translate(-50%, -50%); /* Центрирование */
    width: 80%; /* Ширина модального окна */
    max-width: 800px; /* Максимальная ширина */
}

.modal-content2 {
    position: relative;
    margin-left: 1.5%;
    width: 100%;
    max-width: 800px;
}

.close, .close2 {
    position: absolute;
    top: -3px;
    right: 9%;
    color: white;
    font-size: 50px;
    cursor: pointer;
    z-index: 10;
}
button {
    width: 330px;
    display: block;
    height: auto;
    padding: 15px;
    font-size: 20px;
    color: #000000;
    margin-top: 10px;
    /* background: rgba(44, 111, 119, 1); */
    border: 1px solid black;
    border-radius: 10px;
    outline: none;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    cursor: pointer;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.10);
    -moz-box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.10);
    -webkit-box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.10);
}
button:hover {
background-color: #c4ac6c;
}
.breadcrumb {
    background-color: inherit;
    height: 40px;
}
a {
    color: #8f7e50 !important;
}
@media (max-width: 851px){
    .close, .close2 {
        right: 9%;
    }
    video{
        width:47%;
    }
    .modal-content {
        top: 78px;
        left: 28rem;
        transform: 0;
        width: 80%;
    }
    .close, .close2 {
        position: absolute;
        top: -3px;
        right: 55%;
        color: white;
        font-size: 50px;
        cursor: pointer;
        z-index: 100;
    }
    button{
        margin: 10px auto;
    }
    .back{
        display: none;
    }
}
@media (max-width: 500px) {
    .modal-content {

    }
}
@media (max-width: 390px) {
    .modal-content {

        left: 28%;

    }
}
